-r requirements.txt
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
babel==2.9.0
coverage==5.5
configparser==5.0.2
click==7.1.2
django-coverage-plugin==1.8.0
django-htmlmin==0.11.0
django-debug-toolbar==1.6
django-test-plus==1.0.16
django-toolbelt==0.0.1
enum34==1.1.6
factory-boy==2.7.0
fake-factory==0.7.2
Flask-Babel==0.11.1
Flask-Gravatar==0.4.2
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
fixtures==2.0.0
flake8==3.0.0
ipdb==0.11
isort==4.3.4
itsdangerous==0.24
Jinja2==2.7.3
lazy-object-proxy==1.2.2
MarkupSafe==0.23
mccabe==0.6.0
pip-check-reqs==2.0.3
pyflakes==1.2.3
pylint==1.9.4
pylint-common==0.2.2
pylint-django==0.7.2
pylint-plugin-utils==0.2.4
pytest==3.0.3
pytest-django==3.0.0
pytest-sugar==0.7.1
pytz==2014.10
six==1.9.0
SQLALchemy==1.0.14
sqlparse==0.1.19
termcolor==1.1.0
tox==3.6.1
unittest2==1.1.0
werkzeug==0.9.6
WTForms==2.0.2
wrapt==1.10.11