-r requirements.txt
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
babel==2.9.0
coverage==5.5
configparser==5.0.2
click==7.1.2
django-coverage-plugin==1.8.0
django-htmlmin==0.11.0
django-debug-toolbar==3.2
django-test-plus==1.4.0
django-toolbelt==0.0.1
enum34==1.1.10
factory-boy==3.2.0
fake-factory==9999.9.9
Flask-Babel==2.0.0
Flask-Gravatar==0.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
fixtures==3.0.0
flake8==3.8.4
ipdb==0.13.5
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.0
pip-check-reqs==2.0.3
pyflakes==1.2.3
pylint==1.9.4
pylint-common==0.2.2
pylint-django==0.7.2
pylint-plugin-utils==0.2.4
pytest==3.0.3
pytest-django==3.0.0
pytest-sugar==0.7.1
pytz==2014.10
six==1.9.0
SQLALchemy==1.0.14
sqlparse==0.1.19
termcolor==1.1.0
tox==3.6.1
unittest2==1.1.0
werkzeug==0.9.6
WTForms==2.0.2
wrapt==1.10.11